<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.ssgtarbucks.persistence.AdminRepository">

	<!-- 지점검색결과조회 -->
	<select id="">
		
	</select>

	<!-- 지점정보표시 -->
	<select id="selectUserAndBranchInfo" parameterType="string" resultType="UserDTO">
		select * from user u
		join branch b on b.branch_id = u.branch_id
		where b.branch_id = #{branch_id}
	</select>
	
</mapper>