<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssgtarbucks.persistence.QRCodeRepository">

	<select id="joinStroagebyQRCodeIdToSearch" parameterType="_int"
		resultType="StorageDTO">
		SELECT
		i.item_id,
		i.item_code,
		i.item_exp,
		p.product_id,
		p.product_name,
		p.product_standard,
		p.product_unit,
		p.product_spec,
		p.category_id,
		q.qrcode_id,
		q.qrcode_date,
		s.stock_id,
		s.stock_date,
		s.branch_id,
		s.stock_quantity,
		sl.location_id,
		sl.location_code,
		sl.location_area,
		sl.location_section,
		sl.location_section_name,
		sl.location_column,
		sl.location_row,
		sl.location_alias
		from item i
		join
		product p on p.product_id = i.product_id
		join stock s on s.item_id =
		i.item_id
		join stock_location sl on sl.location_id = s.location_id
		join
		qrcode q on q.qrcode_id = i.qrcode_id
		where
		q.qrcode_id = #{qrcode_id}
	</select>

</mapper>



